
<!DOCTYPE html>
<html lang="es">
{% extends './PublicacionDprendas/navbar.html' %}
{% load static %}
{% block content %}
{% load livereload_tags %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'ReconocimientosDPrecio/css/detalleIA.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <title>IA STYLES</title>
  <link rel="icon" href="{% static 'ReconocimientosDPrecio/img/favicon.png' %}" type="image/png">
</head>
<body>
  <div class="layout">
    <div class="main">
        <div class="container-img">
            <div class="product-image">
              <div class="imgseleccionadas">
                  <img src="{{ imagen.ImagenDprenda.url }}" alt="imagen seleccionada">
              </div>
            </div>
            <div class="product-details" id="ai-details-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="descripcion">Descripción:</label>
                    <input type="text" class="descripcion" name="descripcion" value="{{ resultado_prediccion.descripcion }}" required>

                    <label for="tipo">Tipo:</label>
                    <input type="text" class="tipo" name="tipo" value="{{ resultado_prediccion.tipo }}">

                    <label for="talla">Talla:</label>
                    <input type="number" class="talla" name="talla" value="{{ resultado_prediccion.talla }}" required>

                    <label for="marca">Marca:</label>
                    <input type="text" class="marca" name="marca" value="{{ resultado_prediccion.marca }}">

                    <label for="estado">Estado:</label>
                    <input type="text" class="estado" name="condicion" value="{{ resultado_prediccion.estado }}" required>

                    <label for="precio">Precio:</label>
                    <input type="number" class="precio" name="precio_0" value="{{ resultado_prediccion.precio }}" step="0.01" min="0.01" required>

                    <label class="precio_2" for="moneda">Moneda:</label>
                    <input type="text" class="moneda" name="precio_1" value="USD" required>

                    <!-- Botones para Atrás, Editar y Publicar -->
                    <a id="back-button" class="atras" href="{% url 'vender' %}">Atras</a>
                    <button type="submit" id="publish-button" name="publicar" value="True">Publicar</button>
            </form>
                </div>
          </div>
      </div>

      <div class="footer">Pie de página</div>
    </div>

        <script src="{% static 'ReconocimientosDPrecio/js/detalles.ia.js' %}"></script>
  </body>
{% livereload_script %}
{% endblock %}
  </html>
