
<!DOCTYPE html>
<html lang="es">
{% extends './PublicacionDprendas/navbar.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'ReconocimientosDPrecio/css/vender.css' %} ">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
  <title>Tu título aquí</title>
</head>
<body>
  <div class="layout">
    <div class="main">
        <div class="container-img">
            <div class="product-image">
              <p class="image-instructions">
                Por favor, sube tres imágenes de tu producto: Frontal, Lateral y Trasera. Asegúrate de que cada imagen tenga una resolución mínima de 1920x1080 píxeles y esté en formato JPG o PNG.
              </p>
              <!-- Carga de imágenes -->
              <input type="file" accept="image/jpeg, image/png" id="image-upload" multiple>
              <label for="image-upload">
                <i class="fa fa-upload"></i> Subir Imágenes
              </label>
              <div id="selected-images-container" class="image-gallery"></div>

              <!-- Botón para enviar imágenes -->
              <button id="submit-images">Enviar Imágenes</button>
            </div>
            <div class="product-details">
              <div id="ai-details-container">
                <p class="ai-details-placeholder">Aquí se mostraran los detalles del producto que serán proporcionados por la inteligencia artificial.</p>
              </div>
            </div>
          </div>
      </div>

      <div class="footer">Pie de página</div>
    </div>
    <script src="{% static 'ReconocimientosDPrecio/js/cargaimg.js' %}" ></script>
    <script src="{% static 'ReconocimientosDPrecio/js/detalles.ia.js' %}" ></script>
  </body>
{% endblock %}
  </html>
