<!DOCTYPE html>
<html lang="es">
<head>
    {% extends 'PublicacionDprendas/navbar.html' %}
    {% load static %}
    {% block content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'PublicacionDprendas/css/detalle.css' %} ?v=2 ">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
  <label for="estado">Estado:</label>
<label for="estado">Estado:</label>
<select class="estado" name="condicion" required>
    <option value="nuevo" >Nuevo</option>
    <option value="usado">Usado</option>
</select>

</select>

</head>
<body>
  <div class="layout">
    <div class="main">
      <div class="product-container">
        <div class="product-image">
          <!-- Imagen del producto -->
          <img src="{{ producto.DetalleIA.imagen.ImagenDprenda.url }}" alt="">
        </div>
        <div class="product-details">
          <!-- Detalles del producto -->
          <h1>{{ producto.DetalleIA.tipo}}</h1>
          <p class="price">Precio: {{ producto.DetalleIA.precio.currency }} ${{ producto.DetalleIA.precio.amount }}</p>
          <p class="description">
              {{ producto.DetalleIA.descripcion}}
          </p>
          <p class="description">
            Estado: {{ producto.DetalleIA.condicion }}
          </p>
          <p class="features">
            <strong>Características:</strong>
            <ul class="l">
              <li>Talla: {{ producto.DetalleIA.talla }}</li>
              <li>Marca: {{ producto.DetalleIA.marca}}</li>
              <li>Suela: Goma resistente con tecnología Air Max</li>
              <li>Cierre: Cordones</li>
              <li>Adecuado para: Correr, entrenamiento, deportes al aire libre</li>
            </ul>
          </p>
          <div class="cta">
            <button>
              <a href="https://wa.me/+593{{ producto.DetalleIA.imagen.usuario.usuario.celular }}" class="whatsapp-button">
                <i class="fab fa-whatsapp"></i> Contactar por WhatsApp
              </a>
            </button>
          </div>


        </div>
      </div>

      <div class="comments">
        <!-- Comentarios sobre el producto -->
        <h2>Comentarios</h2>
        <div class="comment">
          <p>Usuario 1: Excelente producto.</p>
        </div>
        <div class="comment">
          <p>Usuario 2: Me encanta, lo recomiendo.</p>
        </div>
      </div>
    </div>



      <div class="footer">Pie de página</div>
    </div>
  </body>
    {% endblock %}
  </html>