<!DOCTYPE html>
<html lang="es">
  <head>
    {% extends 'PublicacionDprendas/navbar.html' %}
    {% load static %}
    {% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PublicacionDprendas/css/inicio.css' %}?v=2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <title>Tu título aquí</title>
  </head>
<body>
    {% csrf_token %}
  <div class="main">
    <div class="card">
      <img src="{% static 'PublicacionDprendas/img/zapatos-cafes.webp' %}" alt="">
      <h5>Zapatos color cafe</h5>
      <p class="p">$50</p>
      <p>estado: Nuevo</p>
      <a href="./Detalle.html">Ver</a>
    </div>
    <div class="card">
      <img src="{% static 'PublicacionDprendas/img/CH017-Chompa-Bariloche-Premium-real-800x800.webp' %}" alt="">
      <h5>Chompa-Bariloche </h5>
      <p class="p">$20</p>
      <p>estado: Usado</p>
      <a href="./Detalle.html">Ver</a>
    </div>
    <div class="card">
      <img src="{% static 'PublicacionDprendas/img/CH017-Chompa-Bariloche-Premium-real-800x800.webp' %}" alt="">
      <h5>Chompa-Bariloche </h5>
      <p class="p">$20</p>
      <p>estado: Usado</p>
      <a href="./Detalle.html">Ver</a>
    </div>
    <div class="card">
      <img src="{% static 'PublicacionDprendas/img/zapatos-cafes.webp' %}" alt="">
      <h5>Zapatos color cafe</h5>
      <p class="p">$50</p>
      <p>estado: Nuevo</p>
      <a href="./Detalle.html">Ver</a>
    </div>
    <div class="card">
      <img src="{% static 'PublicacionDprendas/img/CH017-Chompa-Bariloche-Premium-real-800x800.webp' %}" alt="">
      <h5>Chompa-Bariloche </h5>
      <p class="p">$20</p>
      <p>estado: Usado</p>
      <a href="./Detalle.html">Ver</a>
    </div>
    <div class="card">
      <img src="{% static 'PublicacionDprendas/img/CH017-Chompa-Bariloche-Premium-real-800x800.webp' %}" alt="">
      <h5>Chompa-Bariloche </h5>
      <p class="p">$20</p>
      <p>estado: Usado</p>
      <a href="./Detalle.html">Ver</a>
    </div>
 

    <!-- Agrega más cartas si es necesario -->
  </div>
  <div class="footer">Pie de página</div>
</div>
</body>
{% endblock %}
</html>