{% extends 'PublicacionDprendas/navbar.html' %}
{% load static %}

{% block content %}
  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PublicacionDprendas/css/MisProductos.css' %}?v=2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
      <title>IA STYLES</title>
    <link rel="icon" href="{% static 'PublicacionDprendas/img/favicon.png' %}" type="image/png">
  </head>
  <body>
    {% csrf_token %}
    <div class="layout">
      <div class="main">
        <div class="cards-container">
          {% for producto in productos %}
            <div class="card">
              <div class="menu-icon">
                <span class="material-symbols-outlined">
                  menu
                </span>
                <div class="options">
                  <ul>
                    <li><a href="#">Editar</a></li>
                    <li><a href="#">Eliminar</a></li>
                  </ul>
                </div>
              </div>
              <img src="{{ producto.DetalleIA.imagen.ImagenDprenda.url }}" alt="{{producto.DetalleIA.descripcion }}">
              <h5>{{ producto.DetalleIA.descripcion}}</h5>
              <p class="p">{{ producto.DetalleIA.precio.currency }} ${{ producto.DetalleIA.precio.amount }}</p>
              <p>estado: {{ producto.DetalleIA.condicion }}</p>
              <a href="{% url 'detalle' id_producto=producto.DetalleIA.id %}">Ver</a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="footer">Pie de página</div>
    </div>
    <script src="{% static 'PublicacionDprendas/js/menu.js' %}"></script>
  </body>
  </html>
{% endblock %}
