{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IA STYLES</title>
  <link rel="icon" href="{% static 'Usuario/img/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'Usuario/css/perfil.css' %}? v=2">
</head>
<body>
  <div class="profile-container">
    <div class="profile-header">
      <div class="back-button-container">
        <a href="{% url 'inicio' %}" class="back-button">Atrás</a>
      </div>
      <div class="edit-profile">
        <a href="{% url 'editar_perfil' %}"><i class="fas fa-pencil-alt" ></i>
        </a>
      </div>
      {% if not datos.imagen %}
    <img class="profile-img" src="{% static 'Usuario/img/piccoro.png' %}" alt="Perfil">
      {% else %}
    <img class="profile-img" src="{{ datos.imagen.url }}" alt="Perfil">
      {% endif %}

      <div class="profile-name">{{ datos.usuario.username }}</div>
      <div class="profile-title">Desarrollador Web</div>
    </div>
    <div class="profile-info">
      <div class="info-item">
          {% if not datos.provincia and datos.provincia %}
        <span class="info-label">Ubicación:</span>
        <span class="info-value"></span>
          {% else %}
        <span class="info-label">Ubicación:</span>
        <span class="info-value">{{ datos.ciudad }}, {{ datos.provincia }}</span>
          {% endif %}
      </div>
      <div class="info-item">
        <span class="info-label">Correo:</span>
        <span class="info-value">{{ datos.usuario.correo }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Numero Celular:</span>
        <span class="info-value">0{{ datos.usuario.celular }}</span>
      </div>

    </div>
  </div>
</body>
</html>
