{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Perfil</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'Usuario/css/perfil.css' %}">
</head>
<body>
  <div class="profile-container">
    <div class="profile-header">
      <div class="back-button-container">
        <a href="{% url 'inicio' %}" class="back-button">Atrás</a>
      </div>
      <div class="edit-profile">
        <a href="{% url 'inicio' %}"><i class="fas fa-pencil-alt" ></i>
        </a>
      </div>
      <img class="profile-img" src="{% static 'Usuario/img/piccoro.png' %}" alt="Perfil">
      <div class="profile-name">Tu Nombre</div>
      <div class="profile-title">Desarrollador Web</div>
    </div>
    <div class="profile-info">
      <div class="info-item">
        <span class="info-label">Edad:</span>
        <span class="info-value">25</span>
      </div>
      <div class="info-item">
        <span class="info-label">Ubicación:</span>
        <span class="info-value">Ciudad, País</span>
      </div>
      <div class="info-item">
        <span class="info-label">Correo:</span>
        <span class="info-value">correo@example.com</span>
      </div>
      <div class="info-item">
        <span class="info-label">Sitio Web:</span>
        <span class="info-value"><a href="https://www.tusitio.com" target="_blank">www.tusitio.com</a></span>
      </div>
    </div>
  </div>
</body>
</html>
