/* navbar.css */
.initial-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:  #d0ccca;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  position: relative;
  transition: all 0.3s;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:  #d0ccca;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-to-top i {
  font-size: 24px;
  color: #fff;
}


.logo .logo1 {
  font-size: 2em;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color:  #d0ccca;
}
.logo .logo1 i {
  background-color:  #d0ccca;
}
.logo{
  background-color:  #d0ccca;
}

nav ul {
  display: flex;
  list-style: none;
  background-color:  #d0ccca;
}

nav ul li {
  margin: 0 15px;
  background-color:  #d0ccca;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  background-color:  #d0ccca;
  position: relative;

}
nav ul li a:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color:  #000000;
  border-radius: 5px;
  bottom: -6px;
  transform: scaleX(0);
  transition: .5s;
}
nav ul li a:hover::after{
  transform: scaleX(1);
}

.search input {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 28px;
  background-color:  #d0ccca;
}

.profile img {
  width: 40px;
  border-radius: 50%;
}

.profile {
  padding-right: 20px;
  padding-left: 20px;
}

.logout {
  padding-right: 20px;
}
/* notificacion */

.notification {
  position: relative;
  display: inline-block;
  margin-left: 20px; /* Espacio entre el ícono de notificaciones y otros elementos */
}

.notification-dropdown {
  display: none;
  position: absolute;
  bottom: -100%; /* Cambio en la propiedad 'bottom' */
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateY(100%); /* Ajuste para desplazar hacia arriba */
}

#notification-icon {
  cursor: pointer;
}

.notification-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-dropdown li {
  padding: 10px;
  text-align: center;
}

.notification-dropdown.active {
  display: block;
}